<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off"
	  internalLogToConsole="true"
	  internalLogFile="C:\\Users\\Academy 7\\Desktop\\New folder\\hoghugh\\nlog-internal.log" >
	<timeZoneInfo>Iran Standard Time</timeZoneInfo>

	<targets>
		<target name="file" xsi:type="File"
				fileName="C:\\Users\\Academy 7\\Desktop\\New folder\\hoghugh/${date:format=yyyy-MM-dd}/${date:format=HH}.txt"
				archiveFileName="C:\\Users\\Academy 7\\Desktop\\New folder\\hoghugh/${date:format=yyyy-MM-dd}/archive/${date:format=yyyy-MM-dd-HH}.txt"
				archiveEvery="Day"
				maxArchiveFiles="30"
				concurrentWrites="true" />

	    <target name="console" xsi:type="ColoredConsole"
			    layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />
	</targets>
	
	<rules>
		<logger name="*"  writeTo="console,file" />
	</rules>

</nlog>
